.produkt_overskrift {
  font-family: "Host Grotesk", serif;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 30px;
  color: #734e1a;
}

@media (min-width: 800px) {
  .produkt_img img {
    width: 50%;
    display: block;
  }
  .produkt_billede_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  .ingredients {
    font-family: "Pierson";
    padding-left: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .ingredients_ul {
    grid-column: 2/3;
    font-size: 20px;
    line-height: 40px;
    color: #4c6f57;
  }
  .opskrift {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .produkt_img img {
    width: 70%;
    display: block;
  }
  .ingredients {
    font-family: "Pierson";
    list-style-position: inside;
    padding-left: 20px;
  }
  .ingredients_ul {
    font-size: 20px;
    line-height: 40px;
    color: #4c6f57;
  }
  .produkt_info {
    text-align: center;
    padding-top: 30px;
  }
  .instructions {
    font-family: "Pierson";
    font-size: 16px;
    line-height: 40px;
    color: #4c6f57;
    background-color: lightgray;
    list-style-position: inside;
    padding-left: 20px;
  }
  .title {
    font-family: "Yeseva One", serif;
    margin-top: 40px;
    color: #734e1a;
    text-align: center;
    margin-bottom: 20px;
  }
  .title2 {
    font-family: "Yeseva One", serif;
    margin-top: 40px;
    color: #734e1a;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.produkt_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.produkt_overskrift {
  font-family: "Aloja", sans-serif;
}
.produkt_info {
  font-family: "Pierson";
  line-height: 40px;
  font-size: 20px;
  color: #4c6f57;
}
.instructions {
  font-family: "Pierson";
  font-size: 20px;
  line-height: 40px;
  color: #000000;
}
.title {
  font-family: "Yeseva One", serif;
  margin-top: 40px;
  color: #734e1a;
}
.title2 {
  margin-top: 40px;
  color: #734e1a;
}
