/* PRODUKTLISTE */
.knapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  /* max-width: 1800px; */
  margin: 1rem;
  text-align: center;
  align-items: center;
}

/* Gør billeder responsive */
.recipe-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Ens layout for hver gruppe af 3 */
.recipe-card:nth-child(3n + 1) {
  grid-column: 1 / 2; /* Stort billede i venstre kolonne */
  grid-row: span 2; /* Fylder to rækker */
}

.recipe-card:nth-child(3n + 2) {
  grid-column: 2 / 3; /* Øverste højre */
  grid-row: auto;
}

.recipe-card:nth-child(3n + 3) {
  grid-column: 2 / 3; /* Nederste højre */
  grid-row: auto;
}

/* SKRIFT */
h1 {
  font-family: "Yeseva One", serif;
  font-size: 2.5rem;
  color: #734e1a;
  text-align: center;
  margin: 2rem;
}

.cuisine {
  font-family: "Yeseva One", serif;
  font-size: 0.8rem;
  color: #4c6f57;
  text-align: left;
  /* margin-bottom: 2rem; */
}

.knap {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
.knap a {
  font-family: "Yeseva One", serif;
  font-size: 1.3rem;
  color: #734e1a;
  text-align: center;
  /* text-decoration: none; */
  transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
}

.knap a:hover {
  font-size: 1.5rem;
  color: #5c3c12; /* lidt mørkere nuance for ekstra effekt */
}

/* SELECTOR KNAP */

select {
  margin-left: 1rem;
  padding: 0.6rem 1rem;
  background-color: #3e5a43;
  border-radius: 8px;
  border: 2px solid #2f4a36;
  color: #f5f4f0;
  font-family: "Yeseva One", serif;
  font-size: 0.8rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .knapper {
    margin-right: 4rem;
  }

  .recipe-card img {
    width: 75%;
  }

  /* SKRIFT */
  h1 {
    font-size: 5rem;
    margin: 3rem;
  }

  .cuisine {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
  }

  /* KNAP A MED HOVER EFFEKT */
  .knap a {
    font-size: 2rem;
    transition: font-size 0.2s ease-in-out, color 0.2s ease-in-out;
  }

  .knap a:hover {
    font-size: 2.5rem;
    color: #5c3c12; /* lidt mørkere nuance for ekstra effekt */
  }

  select {
    font-size: 1rem;
    margin-left: 8.2rem;
  }
}
