.logo {
  width: 20%;
}

.produkt_billede_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.opskrift {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.produkt_overskrift {
  font-family: "Host Grotesk", serif;
}
