* {
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
}
img {
  width: 100%;
  display: block;
  height: auto;
  margin: 10px;
}
.logo {
  width: 20%;
}

.produkt_billede_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.opskrift {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
